:root {
  --primary-bg-color: #10221A;
  --primary-card-color: #1C2E26;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #9CA3AF;
}

body {
  background: var(--primary-bg-color);
  font-family: Inter, sans-serif;
}
