@import "tailwindcss";

@theme {
    --color-primaryBg: #10221A;
    --color-energyCard: #1C2E26;
    --color-buttonBg: #13EC92;
    --color-textMain: #FFFFFF;
    --color-textSecondary: #9CA3AF;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 0.5s ease-out forwards;
}